@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.recipes {
  margin-bottom: 4rem;
  max-width: 1990px;
  margin: 0 auto;
  padding: 0 169px 0 121px;

  @include vp-1439 {
    padding: 0 80px;
  }

  &__title {
    margin-bottom: 93px;
    padding-left: 55px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;

    @include vp-1279 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
