@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";


.teste {
  margin-bottom: 92px;
  width: 100%;
  padding: 0 81px 0 110px;

  @include vp-1919 {
    padding: 0 61px 0 101px;
  }

  @include vp-1439 {
    padding: 0 41px 0 81px;
  }

  @include vp-1023 {
    padding: 0 21px 0 41px;
  }

  &__title {
    margin-bottom: 70px;
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    row-gap: 30px;
    list-style: none;

    @include vp-1279 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
