@import "../../sass/mixins.scss";
@import "../../sass/variables.scss";

.method-pay {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 43px;

  &__item {
    transition: transform $trans-default;

    &:hover {
      transform: scale(1.1);
    }
  }
}
